<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27828272558-n9h0vocc1j4gglc6caqaq790lslqv4mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27828272558-n9h0vocc1j4gglc6caqaq790lslqv4mv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>27828272558-049o6pn0ejo5oiu4es2rlu8nesrbo0nj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjyeVoxhCKsL8dN6LFLXUga7FaJAqu_JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>27828272558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentApp</string>
	<key>PROJECT_ID</key>
	<string>brokrapp-382604</string>
	<key>STORAGE_BUCKET</key>
	<string>brokrapp-382604.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27828272558:ios:f308d54ae39c396726dc3f</string>
	<key>DATABASE_URL</key>
	<string>https://brokrapp-382604-default-rtdb.firebaseio.com</string>
</dict>
</plist>